@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


* {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

.contenido {
    padding-left: 4%;
    padding-right: 4%;
}

.titulo {
    padding-top: 3%;
    margin-bottom: 2%;
    text-align: center;
}

.titleTwo {
    font-size: 3em;
    text-transform: uppercase;
}

#tituloPregunta {
    margin-bottom: 2%;
}

p {
    font-size: 25px;
    font-weight: 600;
}

.datos {
    border-radius: 10px;
    width: 80%;
    height: 50px;
    font-size: 20px;
    border: 2px solid rgb(195, 195, 195);
}

.datos:focus {
    border: 3px solid rgb(75, 94, 216);
    outline: none;
}

#txtNombre {
    margin-bottom: 2%;
}

#btnContinuar,
#btnRegresar {
    width: auto;
    font-size: 30px;
    border-radius: 50px;
    /*padding-top: 7px;*/
}

#btnContinuar {
    background-color: rgb(75, 94, 216);
    color: white;
}

#btnRegresar {
    background-color: rgb(195, 195, 195);
    margin-right: 14px;
}

#btnContinuar:hover,
#btnRegresar:hover {
    transform: scale(1.1);
}

#botones {
    margin-top: 21.4%;
}