@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


*{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
}

.contenido{
    padding-left: 4%;
    padding-right: 4%;
}

.titulo{
    padding-top: 3%;
    margin-bottom: 2%;
    text-align: center;
}

.titleTwo{
    font-size: 3em;
    text-transform: uppercase;
}

.span {
    color: rgb(75, 94, 216);
  }

  #textoCurp{
    padding: 3% 3% 3% 0%;
    font-size: 30px;
  }

  #image{
    width: 50%;
  }

  #btnContinuar,
  #btnRegresar {
      width: auto;
      font-size: 30px;
      border-radius: 50px;
      /*padding-top: 7px;*/
  }
  
  #btnContinuar {
      background-color: rgb(75, 94, 216);
      color: white;
  }
  
  #btnRegresar {
      background-color: rgb(195, 195, 195);
      margin-right: 14px;
  }
  
  #btnContinuar:hover,
  #btnRegresar:hover {
      transform: scale(1.1);
  }
  
  
  #botones {
    margin-top: 1.03%;
      /*margin-top: 20.4%;*/
  }